@tailwind base;
@tailwind components;
@tailwind utilities;

.form-container {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-bottom: 20px;
}

.label {
  margin-right: 10px; /* Add margin between label and input */
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px; /* Set width as needed */
}

.input-field {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #e2e8f0; /* Add a border to make it always visible */
  border-radius: 0.25rem;
  outline: none; /* Remove the default focus outline */
  transition: border-color 0.2s ease-in-out; /* Add a transition effect */
}

.input-field:focus {
  border-color: #4299e1; /* Change the border color on focus */
}
